@page  "/author"
@inject NavigationManager NavManager
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h3>Hello! You are Authorized</h3>
    </Authorized>
    <NotAuthorized>
        <h3>Meeeeh, you are NOBODY</h3>
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter] protected Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync() {
        
    }
}
