@page "/chat/{id:int}"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations
@using BlazorChatling.Data
@using BlazorChatling.Data.DBContextFiles
@inject ChatsDAOService ChatsDAOService
@inject UserInfoGlobalClass UserInfoGlobalClass
@inject NavigationManager NavigationManager


<div>
    <button @onclick="loadOlderMessages">
        Load more
    </button>
</div>

<div style="margin-bottom: 100px;">
    @foreach (Messages message in ((IEnumerable<Messages>)messages).Reverse())
    {
        
        <ChatItem TargetMessage="@message" TargetUser="@participants.Where(x => x.Id == message.IdUser).First()" InputText="inputText"/>
    }

</div>

<div class="sender">
    <EditForm Model="@inputText" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="text" @bind-Value="inputText.text"/>

        <button type="submit">Submit</button>
    </EditForm>
</div>







@code {
    [Parameter]
    public int? id { get; set; }

    private List<Messages> messages = new List<Messages>();
    IEnumerable<Users> participants = new List<Users>();

    private int shift = 0;


    public MyInputText inputText;


    protected async override Task OnInitializedAsync() {
        inputText = new MyInputText();


        if (UserInfoGlobalClass.user == null || id == null) NavigationManager.NavigateTo("/account/login");

        participants = await ChatsDAOService.getUsersInChat(id.Value);
        loadOlderMessages();
    }

    private void HandleValidSubmit() {
        if(isEditing) {
            editingMessage.MsgText = inputText.text;

            inputText.text = string.Empty;
            ChatsDAOService.editMessage(editingMessage);
            var msgOrig = messages.Where(x => x.Id == editingMessage.Id).First();
            msgOrig = editingMessage;

        }
        Messages message = new Messages();
        message.IdChat = id.Value;
        message.IdUser = UserInfoGlobalClass.user.Id;
        message.MsgText = inputText.text;


        inputText.text = string.Empty;
        ChatsDAOService.insertMessage(message);
        messages.Insert(0, message);
        // Process the valid form
    }

    private async void loadOlderMessages() {

        var newMessages = await ChatsDAOService.getMessages(id.Value, UserInfoGlobalClass.user.Id, shift++,2);
        messages.AddRange(newMessages);
    }



    private bool isEditing = false;
    private Messages editingMessage;

    public void StartEditing(Messages message) {
        inputText.text = message.MsgText;
        editingMessage = message;
        isEditing = true;
    }

}
