@inherits LayoutComponentBase

<PageTitle>BlazorChatling</PageTitle>

<div class="page" style="height: 100%; ">
    <div class="sidebar" style="overflow:scroll; width:20%">
            <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="/account/logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/account/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>    
            
        </div>

        <article class="content " style="height:auto;">
            @Body
        </article>
    </main>
</div>
